@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.banner h1 {
  font-family: "Roboto", sans-serif;
  color: #726565;
  color: #f3a0ae;
  font-size: 90px; }

/* ----- MAIN -----*/
h2 {
  font-family: "Roboto", sans-serif; }

.centrar {
  display: flex;
  justify-content: center; }

.row {
  justify-content: space-around; }

.texto {
  display: flex;
  justify-content: flex-end;
  min-height: 100vh;
  line-height: 30px; }

/* Media Queries */
@media (max-width: 580px) {
  .container {
    flex-direction: column;
    align-items: center; } }

/* ----------HEADER--------- */
/* BANNER */
.banner {
  width: 100%;
  padding: 9rem 3rem;
  text-align: center;
  background: url("/img/Banner.webp");
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center;
  box-sizing: border-box; }
  .banner h1 {
    animation: titulo 3s 1; }

/* BUSCADOR */
.boton-lupa {
  color: #f3a0ae; }
  .boton-lupa:hover {
    background-color: #f3a0ae;
    color: #726565; }

/* Animacion Banner */
@keyframes titulo {
  0% {
    color: #726565; }
  30% {
    letter-spacing: 25px; }
  85% {
    letter-spacing: 8px; } }

/* -------FOOTER-------- */
/* Botones */
.color-boton {
  background-color: #f3a0ae;
  color: white; }
  .color-boton:hover {
    background-color: #f3a0ae;
    color: black; }
