* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  @import "../base/variables";
  @import "../base/extend";
  
  @import "./sections/main";
  @import "./sections/header";
  @import "./sections/footer";
  