//Extend
%TituloPrincipal {
    font-family: $Roboto;
    color: $PaletaGris;
    color: $PaletaRosa;
    font-size: 90px;
  }
   //Mixin
  @mixin hover ($color){
      background-color: $PaletaRosa;
      color: $color;
  }