@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@900&display=swap");

$Roboto: "Roboto", sans-serif;
$RobotoCondensed: "Roboto Condensed", sans-serif;
$PaletaGris: rgb(114, 101, 101);
$PaletaRosa: rgb(243, 160, 174);
